*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #0a0a0a;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
